In [10]:
import pandas as pd

In [16]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [17]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'Name of School':school_name, 'type':type_of_school}

In [18]:
school_df = pd.DataFrame(high_schools_dict)
school_df

   School ID         Name of School      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [20]:
school_df.index

RangeIndex(start=0, stop=5, step=1)